# Python caches
**/__pycache__/

# Model checkpoint
*.pth

# Database and images
database/
img/

# Python builds
build/

# MultiScaleDeformableAttention
MultiScaleDeformableAttention.egg-info/
MultiScaleDeformableAttention.cpython-310-x86_64-linux-gnu.so
